SERVICE_NAME=resolvex-ai-service
OCR_PROVIDER=local
AWS_TEXTRACT_ENABLED=false
AWS_REGION=us-east-1
SPACY_MODEL=blank:en
HF_CLASSIFICATION_ENABLED=false
HF_CLASSIFICATION_MODEL=distilbert-base-uncased-finetuned-sst-2-english
MAX_DOCUMENT_BYTES=10485760
